<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboottest.app.mappers.GuestMapper">


    <update id="changeDeposit">
        UPDATE deposit SET sum_deposit = #{sumDeposit} WHERE user_id = #{guestId};
    </update>

    <select id="getCurrentDeposit" resultType="_int">
        SELECT sum_deposit FROM deposit WHERE user_id = #{userId};
    </select>

    <select id="takeProduct" resultType="_int">
        INSERT INTO basket (user_id, product_id)
        VALUES (#{guestId}, #{productId}) RETURNING id;
    </select>

    <update id="updateStatus">
        UPDATE basket SET status = #{status} WHERE user_id = #{guestId} AND status = 'OPEN'
        <if test="itemId != null">AND id = #{itemId}</if>;
    </update>

    <select id="getProductIdByItemId" resultType="_int">
        SELECT product_id FROM basket WHERE id = #{itemId};
    </select>

    <update id="substractCountProduct">
        UPDATE storage SET count_product = count_product - #{countItem}  WHERE id = #{productId};
    </update>

    <update id="addCountProduct">
        UPDATE storage SET count_product = count_product + #{countItem}  WHERE id = #{productId};;
    </update>

    <select id="getOrderSum" resultType="_int">
        SELECT sum(storage.price) FROM basket
        LEFT JOIN storage ON storage.id = basket.product_id
        WHERE user_id = #{guestId} AND status = 'OPEN';
    </select>

    <select id="getAllItemFromOrder" resultType="int">
        SELECT product_id FROM basket WHERE user_id = #{guestId} AND status = 'OPEN';
    </select>

</mapper>
