<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboottest.app.mappers.RoleMapper">

    <select id="addRole" resultType="role">
        INSERT INTO roles (name)
        VALUES (#{name}) RETURNING *;
    </select>

    <select id="getRoleById" resultType="role">
        SELECT * FROM roles WHERE id = #{roleId};
    </select>

    <select id="deleteRole" resultType="role">
        DELETE FROM roles WHERE id = #{roleId} RETURNING *;
    </select>

</mapper>